body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.box{
    width: 670px;
    height: 350px;
    border: 1px solid black;
    background-color: yellow;
}
.title-box{
    margin-left: 10px;
}
