body{
    background-color: rgba(21, 38, 63, 1);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
}
span {
    color: rgba(0, 255, 248, 1);
}