*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gold;
    display: flex;
    justify-content: center;
}
.middle-box{
    width: 50%;
    height: 100vh;
    background-color: white;
}
.text-box{
    padding-top: 30px;
    padding-left: 40px;
}
h1 {
    color: black;
}
ul {
    padding-top: 20px;
    padding-left: 50px;

}
li{
    margin:0 0 20px 0; 
}