*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://www.pcworld.com/wp-content/uploads/2022/04/windows-xp-logo.jpg?quality=50&strip=all);
    background-size: 100%;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}
.main-section{
    width: 90%;
    background-color: rgb(0,0,0,0.90);
}
.section-top-item{
    margin-top: 30px;
    margin-left: 30px;
}
span{
    font-size: 50px;
}
.section-top-item > h1 {
    color: white;
    font-size: 30px;
}
.top-item-box{
    margin-top: 25px;
}
.top-item-box > h3 {
    color: white;
}
.top-item-box > ul {
    padding-top: 20px ;
    padding-left: 40px;
}
.top-item-box > ul > li {
    color: white;
    font-size: 17px;
}
/*----- MIDDLE ITEM ------*/
.section-middle-item{
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}
.section-middle-item > .title{
    width: 100%;
    text-align: center;
    color: white;
}
.section-middle-item > .text-box {
    padding-left: 30px;
    color: white;
}
.text-box > ul {
    padding-top: 30px;
    padding-left: 40px;
}
.text-box > ul > li {
    margin:0 0 10px 0; 
}
.item{
    width: 100%;
    color: white;
}
.item > h3 {
    margin-left: 30px;
    color: white;
}
.item > p {
    padding-left: 30px;
    padding-top: 10px;
}
.text-box {
    width: 100%;
}
/*------ bottom section ----*/
.section-bottom-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    width: 100%;
    margin-top: 40px;
}
.section-bottom-item > .item {
    width: 100%;
}
.section-bottom-item > .item > .title {
    width: 100%;
    color: white;
    text-align: center;
}
.section-bottom-item > .item > .text-box {
    padding-left: 30px;
    padding-top: 20px;
    color: white;
}
