*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-image: url(https://georgiantravelguide.com/storage/thumbnails/dji-0570-12.jpg);
    background-size: 100%;
}
.main-section{
    width: 90%;
    height: auto;
    background-color: rgb(0,0,0,0.90);
}
.section-top-item{
    margin-top: 30px;
    margin-left: 10px;
    width: auto;
}
h1 {
    font-size: 30px;
    color: white;
}
ul{
    padding-left: 40px;
    padding-top: 30px;
}
li{
    font-size: 20px;
    color: white;
}
.section-bottom-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}
.item{
    width: 100%;
    /* background-color: green; */
    display: table;
}
.item-title{
    width: 100%;
    text-align: center;
    margin: auto;
}
.item-text{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
    color: white;
}
.item-text  {
    padding-left: 30px;
}

.item-text > ul > li  {
    font-size: 15px;
    margin:0 0 10px 0; 
}

