body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.box{
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.title-box{
    margin-left: 10px;
}
